:root {
    --bg: #4F4D59;
    --darkbg: #413F49;
    --oj: #F87537;
    --lightoj: #FBA81F;
    --white: #FAFAFA;
    --footer: #333334;
}

body {
    margin: 0;
    font-family: Roboto;
}

.App {
    background: var(--bg);
    color: var(--white);
}

.root-container {
    margin-left: 5%;
    margin-right: 5%;
}