:root {
  --bg: #4f4d59;
  --darkbg: #413f49;
  --project: #696778;
  --oj: #f87537;
  --lightoj: #fba81f;
  --darktext: #bfbfbf;
  --white: #fafafa;
  --footer: #333334;
}

body {
  margin: 0;
  font-family: Roboto;
  background: var(--footer);
}

.App {
  background: var(--bg);
  color: var(--white);
}

.loading {
  height: calc(100vh - 79px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: var(--footer);
}

.footer p {
  text-align: center;
}
